/* 0. Root Properties */
:root {
  --clr-neutral-1000: hsl(0, 0%, 0%);
  --clr-neutral-900: hsl(0, 0%, 21%);
  --clr-neutral-800: hsl(217, 19%, 27%);
  --clr-neutral-400: hsl(220, 9%, 46%);
  --clr-neutral-200: hsl(0, 3%, 87%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 2.625rem;
}

/* 1. Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

/* 2. Reset default margin, padding, and font inheritance */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 2. General Styles */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-200);
  line-height: 1.5;
}

/* 3. Components */
.primary-header {
  position: relative;
  background-color: #121212;
  color: var(--clr-neutral-100);
}

.primary-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/images/bg.png");
  background-position: center 25%;
  background-size: cover;
  opacity: 20%;
}

/* 4. Utility Classes */

.container {
  position: relative;
  width: 550px;
  height: 208px;
  padding: 0 1.5em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

